# Data Understanding

a).Specifying the Question

Performing sentiment Analysis on people's views towards Remote learning in Kenya using Machine Learning Models.

b).Defining the Metric for Success

Our project will be considered successful if we can effectively build a model that can give an accuracy of more than 80%.

c).Understanding the Context

## Importing our libraries

In [ ]:
#For data exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# modelling
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dense, Dropout, SpatialDropout1D
from tensorflow.keras.layers import Embedding

#For cleaning the tweets
import re
import string
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem.lancaster import LancasterStemmer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

#for metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, f1_score

import nltk
nltk.download('punkt')

#warnings
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## Loading our datasets

In [ ]:
#Load the dataset
data = pd.read_csv('/content/Final-Remote-Learning-csv')

Previewing our data

In [ ]:
#Previewing the first ten records in our dataset
data.head(10)

   Unnamed: 0  Unnamed: 0.1  ... likes retweets
0           0             0  ...     0        1
1           1             1  ...     6        3
2           2             2  ...     2        0
3           3             3  ...     0        0
4           4             4  ...     1        0
5           5             5  ...     6        7
6           6             6  ...     4        5
7           7             7  ...     5        7
8           8             8  ...     9       11
9           9             9  ...     8        1

[10 rows x 14 columns]

In [ ]:
#Previewing the last ten records in our dataset
data.tail(10)

     Unnamed: 0  Unnamed: 0.1  ... likes retweets
218          29            29  ...    14        9
219          30            30  ...     3        3
220          31            31  ...     1        1
221          32            32  ...     0        0
222          33            33  ...     0        0
223          34            34  ...     1        0
224          35            35  ...     0        0
225          36            36  ...     1        1
226          37            37  ...     1        0
227          38            38  ...     3        0

[10 rows x 14 columns]

**Accessing basic information about our dataset**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    228 non-null    int64
 1   Unnamed: 0.1  228 non-null    int64
 2   Tweets        228 non-null    object
 3   user          228 non-null    object
 4   location      222 non-null    object
 5   id            228 non-null    int64
 6   lens          228 non-null    int64
 7   date          228 non-null    object
 8   place         15 non-null     object
 9   coordinates   0 non-null      float64
 10  lang          228 non-null    object
 11  source        228 non-null    object
 12  likes         228 non-null    int64
 13  retweets      228 non-null    int64
dtypes: float64(1), int64(6), object(7)
memory usage: 25.1+ KB

In [ ]:
#Checking the shape of our dataset
print('This dataset has ' + str(data.shape[0]) + ' rows, and ' + str(data.shape[1]) + ' columns')

This dataset has 228 rows, and 14 columns

#**Data Cleaning**

**Validity**

In [ ]:
#We need to drop columns that will not be in use
data.drop(['Unnamed: 0', 'Unnamed: 0.1','place','lens', 'coordinates',
           'lang','retweets'], inplace= True, axis = 1)

**Consistency**

In [ ]:
#we will look for the number of rows with duplicate records
print('Number of rows with duplicated values',data.duplicated().sum())

#we then drop the rows with duplicated records
data.drop_duplicates(inplace=True)
print('After dropping there are',data.duplicated().sum(), "Duplicated rows")

print('Shape of dataframe after dropping duplicated rows', data.shape)

Number of rows with duplicated values 87
After dropping there are 0 Duplicated rows
Shape of dataframe after dropping duplicated rows (141, 7)

**Completeness**

In [ ]:
#We shall drop the null values
data.isnull().sum()

Tweets      0
user        0
location    3
id          0
date        0
source      0
likes       0
dtype: int64

In [ ]:
#We shall drop the null values 
data= data.dropna()

In [ ]:
#Confirming that our dataset has no null values
data.isnull().sum()

Tweets      0
user        0
location    0
id          0
date        0
source      0
likes       0
dtype: int64

**Uniformity**

In [ ]:
data.columns=data.columns.str.strip().str.lower().str.replace(' ','_').str.replace('(','').str.replace(')','')
data.columns

Index(['tweets', 'user', 'location', 'id', 'date', 'source', 'likes'], dtype='object')

# Text Preprocessing

In [ ]:
#Create a class with all function to clean our tweets
class CleanText(BaseEstimator, TransformerMixin):
    def remove_mentions(self, input_text):
        return re.sub(r'@\w+', '', input_text)
    
    def remove_urls(self, input_text):
        return re.sub(r'http.?://[^\s]+[\s]?', '', input_text)
    
    def emoji_oneword(self, input_text):
        # By compressing the underscore, the emoji is kept as one word
        return input_text.replace('_','')
    def remove_emoji(self, input_text):
      #data['clean_tweet']=data['clean_tweet'].apply(nfx.remove_emojis,nfx.remove_stopwords)
      return input_text()
    
    def remove_punctuation(self, input_text):
        # Make translation table
        punct = string.punctuation
        trantab = str.maketrans(punct, len(punct)*' ')  # Every punctuation symbol will be replaced by a space
        return input_text.translate(trantab)
    def remove_digits(self, input_text):
        return re.sub('\d+', '', input_text)
    
    def to_lower(self, input_text):
        return input_text.lower()
    
    def remove_stopwords(self, input_text):
        stopwords_list = stopwords.words('english')
        # Some words which might indicate a certain sentiment are kept via a whitelist
        whitelist = ["n't", "not", "no"]
        words = input_text.split() 
        clean_words = [word for word in words if (word not in stopwords_list or word in whitelist) and len(word) > 1] 
        return " ".join(clean_words) 
    
    def stemming(self, input_text):
        porter = PorterStemmer()
        words = input_text.split() 
        stemmed_words = [porter.stem(word) for word in words]
        return " ".join(stemmed_words)
    
    def fit(self, X, y=None, **fit_params):
        return self
    
    def transform(self, X, **transform_params):
        clean_X = X.apply(self.remove_mentions).apply(self.remove_urls).apply(self.emoji_oneword).apply(self.remove_punctuation).apply(self.remove_digits).apply(self.to_lower).apply(self.remove_stopwords).apply(self.stemming)
        return clean_X

In [ ]:
data.head()

                                              tweets  ... likes
0  b'ONLINE LEARNING |\nBen Troy Njue hosts Prof....  ...     0
1  b"Virtual school is back at Jinja city's educa...  ...     6
2  b"@KBCChannel1 @ManagementUNI  the best in onl...  ...     2
3  b'Check out this course on TinyML (https://t.c...  ...     0
4  b'Want to learn more about genre as well as st...  ...     1

[5 rows x 7 columns]

In [ ]:
#Removing emojis
# This code snippet encodes all the data into ASCII (American Standard Code for Information Interchange) values and ignore if the 
# data can not be encoded. After encoding it tries to decode them all again because all the emojis were ignored in the encoding 
# process. So now we have all the data without emojis.
data['tweets'] = data['tweets'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii'))

In [ ]:
#Intialize and call the class and taking a sample to confirm that the tweets have been cleaned
clean= CleanText()
sr_clean = clean.fit_transform(data.tweets)
sr_clean.sample(5)

112                 best learn onlin exam platform kenya
19                                      onlin learn baba
118    youthvib nna kenneth nchristoph niwagira richa...
136    kyambogo univers parent buy key learn gadget c...
0      onlin learn nben troy njue host prof washingto...
Name: tweets, dtype: object

In [ ]:
#Imputing null values
empty_clean = sr_clean == ''
print('{} records have no words left after text cleaning'.format(sr_clean[empty_clean].count()))
sr_clean.loc[empty_clean] = '[no_text]'

0 records have no words left after text cleaning

In [ ]:
#Convert to df
data['clean_tweet'] = sr_clean
data.head()

                                              tweets  ...                                        clean_tweet
0  b'ONLINE LEARNING |\nBen Troy Njue hosts Prof....  ...  onlin learn nben troy njue host prof washingto...
1  b"Virtual school is back at Jinja city's educa...  ...  virtual school back jinja citi educ hub academ...
2  b"@KBCChannel1 @ManagementUNI  the best in onl...  ...               best onlin learn research carriculum
3  b'Check out this course on TinyML (https://t.c...  ...  check cours tinyml read infer microcontrol ten...
4  b'Want to learn more about genre as well as st...  ...  want learn genr well studi win exampl check do...

[5 rows x 8 columns]

In [ ]:
#Checking the most frequent word
a = data['clean_tweet'].str.cat(sep=' ')
words = nltk.tokenize.word_tokenize(a)
word_dist = nltk.FreqDist(words)
dff = pd.DataFrame(word_dist.most_common(), 
                    columns=['Word', 'Frequency'])
dff['Word_Count'] = dff.Word.apply(len)
dff[:5]

    Word  Frequency  Word_Count
0  learn        166           5
1  onlin         83           5
2     xf         80           2
3  digit         37           5
4   educ         28           4