<a href="https://colab.research.google.com/github/iyline-sigey/PREDICTIVE-ANALYSIS-ON-REMOTE-LEARNING/blob/Data-Scrapping/Final_Tweet_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
#Libraries
import os
import tweepy as tw
import pandas as pd
import tweepy
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
import json
#from unidecode import unidecode
import time
import datetime
from tqdm import tqdm
import pandas as pd
import numpy as np

In [3]:
#define the tokens and keys
consumer_key = 'yvlt89Aw5JmuPGfEYGmynRkXv'
consumer_secret = 'ITQIvSmIVkPC0e9xHe6mCDz6Q0MDDOXvupw9HS5BadlCPvgDCF'
access_token = '1425821844204969997-vuRcuUegyA55yyv0M2mpuT2jRTskrX'
access_token_secret = 'CJVjj76V4uyTlaACmgXebQLV8EMOgAsyTzK5lJnOIxSxF'


auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth,wait_on_rate_limit=True)

In [4]:
def tweetSearch(query, limit):
  geo = '-0.023559,37.906193,600km'
  tweets = []
  for page in tweepy.Cursor(api.search, q=query, geocode=geo, count=limit, tweet_mode="extended").pages(limit):
    for tweet in page:
      tweets.append(tweet)
  return tweets

In [5]:
def tweets_to_data_frame(tweets):
  df = pd.DataFrame(data=[tweet.full_text.encode('utf-8') for tweet in tweets], columns=["Tweets"])
  df["user"] = np.array([tweet.user.screen_name for tweet in tweets])
  df["location"] = np.array([tweet.user.location for tweet in tweets])
  df["id"] = np.array([tweet.id for tweet in tweets])
  df["lens"] = np.array([len(tweet.full_text) for tweet in tweets])
  df["date"] = np.array([tweet.created_at for tweet in tweets])
  df["place"] = np.array([tweet.place for tweet in tweets])
  df["coordinates"] = np.array([tweet.coordinates for tweet in tweets])
  df["lang"] = np.array([tweet.lang for tweet in tweets])
  df["source"] = np.array([tweet.source for tweet in tweets])
  df["likes"] = np.array([tweet.favorite_count for tweet in tweets])
  df["retweets"] = np.array([tweet.retweet_count for tweet in tweets])
  return df

In [41]:
# add hashtags in the following list
hashtags = ['#onlinelearning']

In [49]:
total_tweets = 0
"""
The following for loop will collect a tweets that have the hashtags
mentioned in the list and save the tweets into csv file
"""
for n in tqdm(hashtags):
  # first we fetch all tweets that have specific hashtag
  hash_tweets = tweetSearch(query=n,limit=7000)
  total_tweets += int(len(hash_tweets))
  # second we convert our tweets into datarame
  df = tweets_to_data_frame(hash_tweets)
  #third we save the dataframe into csv file
  df.to_csv("data.csv".format(n))
# show total number of tweets collected
print("total_tweets: {}".format(total_tweets))

100%|██████████| 1/1 [00:01<00:00,  1.00s/it]

total_tweets: 39

## Loading the data

In [52]:
#Reading the data
digital=pd.read_csv('digital.csv')
digital.head(5)

   Unnamed: 0  ... retweets
0           0  ...        0
1           1  ...        0
2           2  ...        0
3           3  ...        0
4           4  ...        0

[5 rows x 13 columns]

In [54]:
online=pd.read_csv('online.csv')
online.head()

   Unnamed: 0  ... retweets
0           0  ...        1
1           1  ...        3
2           2  ...        0
3           3  ...        0
4           4  ...        0

[5 rows x 13 columns]

In [55]:
e_learn=pd.read_csv('e_learning.csv')
e_learn.head()

   Unnamed: 0  ... retweets
0           0  ...        1
1           1  ...        0
2           2  ...        5
3           3  ...        2
4           4  ...        0

[5 rows x 13 columns]

In [56]:
online_classes=pd.read_csv('online_classes.csv')
online_classes.head()

   Unnamed: 0  ... retweets
0           0  ...        1
1           1  ...        0
2           2  ...        5
3           3  ...        2
4           4  ...        0

[5 rows x 13 columns]

In [57]:
remote=pd.read_csv('tweets.csv')
remote.head()

   Unnamed: 0  ... retweets
0           0  ...        0
1           1  ...        0
2           2  ...        2
3           3  ...        2

[4 rows x 13 columns]

In [58]:
data=pd.read_csv('data.csv')
data.head()

   Unnamed: 0  ... retweets
0           0  ...        1
1           1  ...        0
2           2  ...        5
3           3  ...        2
4           4  ...        0

[5 rows x 13 columns]

Concantinate

In [59]:
remote_df = pd.concat([online, remote, digital, e_learn, data, online_classes], axis = 0)
remote_df.head()

   Unnamed: 0  ... retweets
0           0  ...        1
1           1  ...        3
2           2  ...        0
3           3  ...        0
4           4  ...        0

[5 rows x 13 columns]

In [60]:
remote_df.shape

(228, 13)

**Export the data**

In [64]:
remote_df.to_csv ('remote_learning.csv')

In [66]:
remote_df.place.unique()

array([nan,
       "Place(_api=<tweepy.api.API object at 0x7fb294ad7e10>, id='000c69ad123213a8', url='https://api.twitter.com/1.1/geo/id/000c69ad123213a8.json', place_type='admin', name='Kampala', full_name='Kampala, Uganda', country_code='UG', country='Uganda', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x7fb294ad7e10>, type='Polygon', coordinates=[[[32.4166234, 0.1648531], [32.7216969, 0.1648531], [32.7216969, 0.4136818], [32.4166234, 0.4136818]]]), attributes={})",
       "Place(_api=<tweepy.api.API object at 0x7fb294ad7e10>, id='009e2ab435d6d6de', url='https://api.twitter.com/1.1/geo/id/009e2ab435d6d6de.json', place_type='city', name='Ruiru', full_name='Ruiru, Kenya', country_code='KE', country='Kenya', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x7fb294ad7e10>, type='Polygon', coordinates=[[[36.8815837, -1.2298783], [37.0823672, -1.2298783], [37.0823672, -1.1262708], [36.8815837, -1.1262708]]]), attributes={})",
       "Place(_api=<tweepy.api.API object at 0x7fb294ad7e10>, id='01e215db7136a37e', url='https://api.twitter.com/1.1/geo/id/01e215db7136a37e.json', place_type='city', name='Nairobi', full_name='Nairobi, Kenya', country_code='KE', country='Kenya', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x7fb294ad7e10>, type='Polygon', coordinates=[[[36.6645733, -1.3890532], [37.0626672, -1.3890532], [37.0626672, -1.1606735], [36.6645733, -1.1606735]]]), attributes={})",
       "Place(_api=<tweepy.api.API object at 0x7fb294ad7e10>, id='01c1626a6a25156a', url='https://api.twitter.com/1.1/geo/id/01c1626a6a25156a.json', place_type='admin', name='Mbale', full_name='Mbale, Uganda', country_code='UG', country='Uganda', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x7fb294ad7e10>, type='Polygon', coordinates=[[[34.0807269, 0.8291179], [34.3733635, 0.8291179], [34.3733635, 1.174493], [34.0807269, 1.174493]]]), attributes={})",
       "Place(_api=<tweepy.api.API object at 0x7fb294ad7e10>, id='003266cc20278fb7', url='https://api.twitter.com/1.1/geo/id/003266cc20278fb7.json', place_type='admin', name='Mbarara', full_name='Mbarara, Uganda', country_code='UG', country='Uganda', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x7fb294ad7e10>, type='Polygon', coordinates=[[[30.3141825, -0.8454063], [30.81947, -0.8454063], [30.81947, -0.194628], [30.3141825, -0.194628]]]), attributes={})",
       "Place(_api=<tweepy.api.API object at 0x7fb294ad7e10>, id='01939687169f3384', url='https://api.twitter.com/1.1/geo/id/01939687169f3384.json', place_type='admin', name='Gulu', full_name='Gulu, Uganda', country_code='UG', country='Uganda', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x7fb294ad7e10>, type='Polygon', coordinates=[[[32.1251757, 2.4457346], [32.8294398, 2.4457346], [32.8294398, 3.3008154], [32.1251757, 3.3008154]]]), attributes={})"],
      dtype=object)